.wsu-uc-objects-results {
	margin-top: 25px;
	width: 100%;
}

.added-object {
	position: relative;
	height: 20px;
	width: auto;
	min-width: 55px;
	float: left;
	padding: 5px 20px 5px 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
}

.uc-object-close {
	position: absolute;
	display: block;
	top: 7px;
	right: 5px;
	width: 10px;
	height: 10px;
	font-family: "Dashicons";
}

.uc-object-close:hover {
	cursor: pointer;
	color: #9d1e15;
}

.wsuwp-uc-settings-names label {
	width: 13em;
	float: left;
	clear: left;
	line-height: 27px;
}

.wsuwp-uc-settings-names input {
	float: left;
}

.wsuwp-uc-settings-names .description {
	clear: left;
	padding-top: 10px;
}

.wsuwp-uc-settings-names .description:first-of-type {
	padding-top: 0;
}

.wsuwp-uc-settings-names p {
	max-width: 60%;
}