.wsu-uc-objects-results {
	margin-top: 25px;
	width: 100%;
}

.added-object {
	position: relative;
	height: 20px;
	width: auto;
	min-width: 55px;
	float: left;
	padding: 5px 20px 5px 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
}

.uc-object-close {
	position: absolute;
	display: block;
	top: 7px;
	right: 5px;
	width: 10px;
	height: 10px;
	font-family: "Dashicons";
}

.uc-object-close:hover {
	cursor: pointer;
	color: #9d1e15;
}

.wsuwp-uc-settings-names label {
	width: 13em;
	float: left;
	clear: left;
	line-height: 27px;
}

.wsuwp-uc-settings-names input {
	float: left;
}

.wsuwp-uc-settings-names .description {
	clear: left;
	padding-top: 10px;
}

.wsuwp-uc-settings-names .description:first-of-type {
	padding-top: 0;
}

.wsuwp-uc-settings-names p {
	max-width: 60%;
}

#capture-person-information input {
	float: left;
	padding: 3px 8px;
	font-size: 1.2em;
	line-height: 100%;
	height: 2.2em;
	width: 100%;
	outline: 0;
	margin: 5px 0 10px 0;
	background-color: #fff;
}

#capture-person-information .person-information-name input {
	width: 97%;
}

#capture-person-information label {
	font-size: 1.2em;
	line-height: 100%;
	margin: 15px 0 0 0;
}

#capture-person-information p {
	margin: 15px 2px;
}

#capture-person-information .person-information-name {
	width: 100%;
}

.pi-prefix,
.pi-first,
.pi-last {
	float: left;
}

.pi-prefix input {
	width: 50px;
}

.person-information input,
.person-information label {
	float: left;
}

.person-information label,
.person-information p {
	clear: left;
}